@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-app-bar {
    @apply bg-base bg-opacity-50 rounded-md text-basefront;
  }
  .bg-main {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  }
  .btn {
    @apply shadow-md m-2 hover:outline hover:opacity-80
        ease-in-out duration-300;
  }
  .btn-app {
    @apply flex-none w-6 h-6 mr-2 relative rounded items-center justify-center;
  }
  .btn-app-icon {
    @apply ease-in-out duration-300 w-6 h-6 text-basefront;
  }

  .modal-dialog {
    @apply relative w-full max-w-md p-8 mx-auto my-6 
    bg-neutral text-basefront rounded-lg shadow-md transition-opacity;
  }

  .modal {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .modal.open {
    opacity: 1;
    transform: translateY(0);
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .input-group {
    @apply flex flex-row content-center justify-center items-center rounded-full border border-base px-6
                  hover:rounded-full hover:border hover:shadow-md hover:bg-primary hover:bg-opacity-5 hover:border-primary 
                  hover:duration-200 hover:ease-in-out;
  }

  :root {
    --color-primary: 195, 171, 24;
    --color-primary-front: 211, 209, 223;
    --color-secondary: 224, 239, 112;
    --color-secondary-front: 205, 224, 252;
    --color-base: 51, 35, 72;
    --color-base-front: 214, 186, 250;
    --color-accent: 244, 138, 117;
    --color-neutral: 41, 44, 61;
    --color-info: 70, 170, 200;
    --color-success: 79, 222, 155;
    --color-warning: 248, 189, 79;
    --color-error: 248, 79, 132;
  }

  .theme-green {
    --color-primary: 1, 163, 12;
    --color-primary-front: 211, 209, 223;
    --color-secondary: 27, 104, 193;
    --color-secondary-front: 205, 224, 252;
    --color-accent: 85, 219, 61;
    --color-neutral: 40, 26, 40;
    --color-base: 64, 63, 70;
    --color-base-front: 214, 186, 250;
    --color-info: 99, 182, 212;
    --color-success: 38, 201, 128;
    --color-warning: 241, 200, 34;
    --color-error: 229, 72, 96;
  }

  .theme-purple {
    --color-primary: 182, 216, 71;
    --color-primary-front: 46, 55, 11;
    --color-secondary: 255, 184, 183;
    --color-secondary-front: 78, 11, 5;
    --color-accent: 255, 198, 217;
    --color-neutral: 39, 41, 48;
    --color-base: 77, 60, 93;
    --color-base-front: 214, 186, 250;
    --color-info: 157, 198, 236;
    --color-success: 92, 230, 216;
    --color-warning: 226, 178, 18;
    --color-error: 226, 29, 72;
  }
}
